/*CHARTS PANEL*/
.charts-panel {
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 1000px;
    background-color: white;
    border: 1px solid #999; 
    padding: 0;
    margin: 0;
}

.charts-panel > div {
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}




/* Option panel */
.options-panel {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #999;
    background-color: #e4e4ed;
    padding: 6px;
}

.options-panel > div, select, input{
    display: block;
    position: relative;
    float: left;
}

.dropdown-label {
    width: auto;
    height: 32px;
    padding: 6px;
    padding-left: 0;
    font-family: 'Century Gothic';
    line-height: 20px;
    margin: 0 6px;
}

.dropdown-container {
    width: 160px;
    height: 32px;
    padding: 0;
    margin-right: 24px;
    font-family: 'Century Gothic';
}

.charts-options-checkbox {
    height: 32px;
    margin: 0 !important;
    margin-left: 24px !important;
}

.charts-options-checkbox-label {
    width: auto;
    height: 32px;
    padding: 6px;
    padding-left: 0;
    font-family: 'Century Gothic';
    line-height: 20px;
    margin-left: 6px;
}

.dropdown-container input{
    width: 300px;
}





/* CHARTS CONTAINER */
.charts-meta-container {
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 1000px;
    background-color: white;
}

.charts-container {
    display: block;
    position: relative;
    box-sizing: content-box;
    height: 1000px;
    border-bottom: 0.5px solid #999999;
    overflow: hidden;
}

.chart-zoom-meta-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.chart-and-values-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.chart-container {
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    right: 60px;
    border-right: 1px solid #999999;
    overflow: hidden;
}





/* CHART GRID LINES */
.vertical-grid-lines {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    top: 0;
    left: 0;
    right: 100px;
    overflow: hidden;
}

.date-vertical-line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: #E6E6E6;
    border: none;
}

.horizontal-grid-lines {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.value-horizontal-line {
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: #E6E6E6;
    border: none;
}





/* VALUES */
.values-container {
    display: block;
    position: absolute;
    float: right;
    box-sizing: border-box;
    right: 0px;
    width: 60px;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.value-labels-container {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.value-label {
    position: absolute;
    left: 6px;
    color: #999999;
    font-family: 'Century Gothic';
    font-size: 12px;
}

.value-label-ticker {
    position: absolute;
    left: 0;
    width: 4px;
    height: 1px;
    background: #999999;
    border: none;
}

.crosshair-horizontal-line {
    position: absolute;
    box-sizing: border-box;
    height: 1px;
    width: 100%;
    border: none;
    border-top: 1px dashed #c7c7c7;
}

.current-value-label {
    position: absolute;
    height: 21px;
    width: 100%;
    background-color: #4C525E;
    color: white;
    line-height: 11px;
    font-size: 11px;
    font-family: 'Century Gothic';
    text-align: center;
    padding: 5px 0;
    z-index: 5;
}





/* DATES */
.date-line-wrapper {
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #999999;
}

.date-line-content {
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 60px;
    background-color: #FFFFFF;
    border-right: 0.5px solid #999999;
    overflow: hidden;
}

.date-labels-container {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.date-label {
    position: absolute;
    top: 8px;
    color: #999999;
    font-family: 'Century Gothic';
    font-size: 12px;
}

.date-label-ticker {
    position: absolute;
    top: 0;
    height: 4px;
    width: 1px;
    background: #999999;
    border: none;
}

.crosshair-vertical-line {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 1px;
    border: none;
    border-right: 1px dashed #c7c7c7;
}

.current-data-label {
    position: absolute;
    height: 28px;
    width: 72px;
    background-color: #4C525E;
    color: white;
    line-height: 12px;
    font-size: 11px;
    font-family: 'Century Gothic';
    text-align: center;
    padding: 2px 0;
    z-index: 5;
}




/* SVG */
svg { 
    position: absolute;
    left: 0;
    width: 100%;
}





/* EVENTS  */
.events-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 5;
}



/* LEGEND */
.legend-container {
    position: absolute;
    height: auto;
    width: auto;
    top: 3px;
    left: 3px;
    padding: 3px;
    z-index: 6;
    background-color: rgba(255, 255, 255, 0);
}

.legend-item {
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 9px;
}

.legend-price-label {
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 20px;  
    color: rgb(152, 152, 152);
}

.legend-price-value {
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    margin-left: 3px;
    color: rgb(91, 26, 19);
}





/* EXTREMUM DETAILS */
.extremum-details-panel {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 6px;
    background-color: #DDDDDD;
    border: 1px solid #333333;
    opacity: 1;
    z-index: 7;
}

.extremum-detail-item {
    position: relative;
    float: left;
    width: 100%;
    height: 18px;
}

.extremum-detail-items-separator {
    position: relative;
    float: left;
    width: 100%;
    margin: 3px 0;
    height: 1px;
    box-sizing: border-box;
    border-bottom: 1px solid #666666;
}

.extremum-detail-label {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
    font-size: 12px;
    font-family: 'Century Gothic';
}

.extremum-detail-value {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    font-size: 12px;
    font-family: 'Century Gothic';
    text-align: right;
}




/* TRENDLINES */
.panel-buttons-container {
    position: absolute;
    bottom: 3px;
    left: 3px;
    height: auto;
    width: auto;
    background: transparent;
    z-index: 7;
}

.show-panel-button {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: auto;
    height: 22px;
    padding: 3px;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Century Gothic';
    font-weight: normal;
    background-color: transparent;
    color: black;
    opacity: 0.25;
    border: 1px solid #999;
    cursor: pointer;
    margin-right: 6px;
}

.open-panel-button:hover {
    opacity: 1;
    background-color: #faa800;
    font-weight: bold;
}

.trendlines-details-panel {
    position: absolute;
    width: auto;
    height: auto;
    top: 200px;
    left: 10px;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
}

.trendlines-details-panel-title-bar {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    border: none;
    border-bottom: 1px solid rgb(152, 152, 152);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0, #fff 90%);
    background-image: -moz-linear-gradient(center bottom, #eee 0, #fff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    /* ReSharper disable once InvalidValue */
    background-image: linear-gradient(top, #eee 0, #fff 90%);
}

.trendlines-details-panel-title-caption {
    position: absolute;
    top: 5px;
    left: 6px;
    line-height: 14px;
    font-size: 13px;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: black;
}

.trendlines-details-panel-close-button {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    right: 4px;
    border: none;
    background-image: url('../images/delete.png');
    background-size: contain;
    cursor: pointer;
}

.trendlines-details-panel-content {
    position: relative;
    float: left;
    width: auto;
    height: auto;
    background-color: transparent;
}

.highlighted-grid-cell {
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 64%, #89c3eb 100%, #d5ebfb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 64%,#89c3eb 100%,#d5ebfb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 64%,#89c3eb 100%,#d5ebfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}

.selected-grid-cell {
    background: #f6f3eb; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f3eb 0%, #efd4ac 65%, #ead08a 100%, #fcf1d6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f3eb 0%,#efd4ac 65%,#ead08a 100%,#fcf1d6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6f3eb 0%,#efd4ac 65%,#ead08a 100%,#fcf1d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f3eb', endColorstr='#fcf1d6',GradientType=0 ); /* IE6-9 */
}