USE [master]
GO
/****** Object:  Database [shares]    Script Date: 2017-12-16 15:51:43 ******/
CREATE DATABASE [shares]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shares', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\shares.mdf' , SIZE = 2497536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'shares_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\shares_log.ldf' , SIZE = 28333632KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shares].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shares]
GO
/****** Object:  Table [dbo].[dates]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dividends]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dividends](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShareId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [float] NOT NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [Default_Dividends_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_dividends] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[errorLogs]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[errorLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Class] [nvarchar](255) NOT NULL,
	[Method] [nvarchar](255) NOT NULL,
	[InputParams] [nvarchar](max) NULL,
	[ErrNumber] [int] NOT NULL,
	[ErrDescription] [nvarchar](max) NOT NULL,
	[SqlString] [nvarchar](max) NULL,
 CONSTRAINT [PK_errorLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[extrema]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extrema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateIndex] [int] NOT NULL,
	[ShareId] [int] NOT NULL,
	[ExtremumType] [int] NOT NULL,
	[earlierCounter] [int] NULL,
	[laterCounter] [int] NULL,
	[EarlierAmplitude] [float] NULL,
	[EarlierTotalArea] [float] NULL,
	[EarlierAverageArea] [float] NULL,
	[LaterAmplitude] [float] NULL,
	[LaterTotalArea] [float] NULL,
	[LaterAverageArea] [float] NULL,
	[EarlierChange1] [float] NULL,
	[EarlierChange2] [float] NULL,
	[EarlierChange3] [float] NULL,
	[EarlierChange5] [float] NULL,
	[EarlierChange10] [float] NULL,
	[LaterChange1] [float] NULL,
	[LaterChange2] [float] NULL,
	[LaterChange3] [float] NULL,
	[LaterChange5] [float] NULL,
	[LaterChange10] [float] NULL,
	[Value] [float] NULL,
 CONSTRAINT [PK_extrema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[extremumGroups]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extremumGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShareId] [int] NOT NULL,
	[IsPeak] [bit] NOT NULL,
	[MasterId] [int] NULL,
	[MasterIndex] [int] NULL,
	[SlaveId] [int] NULL,
	[SlaveIndex] [int] NULL,
	[StartIndex] [int] NOT NULL,
	[EndIndex] [int] NOT NULL,
	[Close] [float] NOT NULL,
	[High] [float] NULL,
	[MasterHigh] [float] NULL,
	[Low] [float] NULL,
	[MasterLow] [float] NULL,
	[Value] [float] NOT NULL,
 CONSTRAINT [PK_extremumGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[historicalUpdatesLogs]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historicalUpdatesLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShareId] [int] NOT NULL,
	[QuotesUpdateTimestamp] [datetime] NULL,
	[DividendsUpdateTimestamp] [datetime] NULL,
	[SplitsUpdateTimestamp] [datetime] NULL,
 CONSTRAINT [PK_historicalUpdatesLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[markets]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[markets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uuid] [nvarchar](36) NOT NULL DEFAULT (newid()),
	[Name] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [Default_Markets_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [Default_Markets_CreatedDate]  DEFAULT (getdate()),
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [Default_Markets_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_markets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[predefinedNumbers]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[predefinedNumbers](
	[number] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[prices]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShareId] [int] NOT NULL,
	[DateIndex] [int] NOT NULL,
	[DeltaClosePrice] [float] NOT NULL,
	[PriceDirection2D] [int] NULL,
	[PriceDirection3D] [int] NULL,
	[PriceGap] [float] NULL,
	[CloseRatio] [float] NULL,
	[ExtremumRatio] [float] NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_prices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[quotes]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShareId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Open] [float] NULL,
	[Low] [float] NULL,
	[High] [float] NULL,
	[Close] [float] NULL,
	[AdjClose] [float] NULL,
	[Volume] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_quotes_CreatedDate]  DEFAULT (getdate()),
	[DateIndex] [int] NULL,
 CONSTRAINT [PK_quotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[shares]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shares](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uuid] [nvarchar](36) NOT NULL DEFAULT (newid()),
	[YahooSymbol] [nvarchar](255) NULL,
	[Plus500Symbol] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[MarketId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [Default_Campaigns_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [Default_Campaigns_CreatedDate]  DEFAULT (getdate()),
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [Default_Campaigns_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_shares] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[splits]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[splits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShareId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[BaseValue] [int] NOT NULL,
	[CounterValue] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [Default_Splits_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_splits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[trendlines]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trendlines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShareId] [int] NOT NULL,
	[BaseId] [int] NOT NULL,
	[BaseStartIndex] [int] NOT NULL,
	[BaseIsPeak] [bit] NOT NULL,
	[BaseLevel] [float] NOT NULL,
	[CounterId] [int] NOT NULL,
	[CounterStartIndex] [int] NOT NULL,
	[CounterIsPeak] [bit] NOT NULL,
	[CounterLevel] [float] NOT NULL,
	[Slope] [float] NOT NULL,
	[StartDateIndex] [int] NULL,
	[EndDateIndex] [int] NULL,
	[~IsOpenFromLeft] [bit] NOT NULL,
	[~IsOpenFromRight] [bit] NOT NULL,
	[~PointsDistance] [int] NOT NULL,
 CONSTRAINT [PK_trendlines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[Minimum]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Minimum]
(@Param1 INTEGER, @Param2 INTEGER)
RETURNS TABLE AS
RETURN(SELECT CASE WHEN @Param1 < @Param2 
                   THEN @Param1 ELSE @Param2 END MinValue)
GO
/****** Object:  View [dbo].[firstQuotes]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[firstQuotes] AS
SELECT
	sh.[Id],
	sh.[Name],
	sh.[YahooSymbol],
	firstQuotes.[fq]

FROM
	[dbo].[shares] sh
	LEFT JOIN (SELECT [ShareId], MIN([Date]) AS fq
				FROM  [dbo].[quotes]
				GROUP BY [ShareId]) firstQuotes
	ON sh.[Id] = firstQuotes.[ShareId]

GO
/****** Object:  View [dbo].[missingData]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[missingData] AS
SELECT
	sh.[Name] AS [Share],
	sh.[YahooSymbol],
	sh.[Plus500Symbol],
	m.[Name] AS [Market],
	hul.[dataType]
FROM 
	(SELECT [ShareId], 'quotes' AS [dataType] FROM  [dbo].[historicalUpdatesLogs] WHERE  [QuotesUpdateTimestamp] IS NULL
	UNION ALL
	SELECT [ShareId], 'dividends' AS [dataType] FROM  [dbo].[historicalUpdatesLogs] WHERE  [DividendsUpdateTimestamp] IS NULL
	UNION ALL
	SELECT [ShareId], 'splits' AS [dataType] FROM  [dbo].[historicalUpdatesLogs] WHERE  [SplitsUpdateTimestamp] IS NULL) hul
	INNER JOIN [dbo].[shares] sh ON hul.[ShareId] = sh.[Id]
	INNER JOIN [dbo].[markets] m ON sh.[MarketId] = m.[Id]


GO
/****** Object:  View [dbo].[sharesWithMissingData]    Script Date: 2017-12-16 15:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[sharesWithMissingData] AS
(SELECT
	*
FROM 
	[dbo].[shares] sh
WHERE
	[Id] IN  (select [ShareId]
				from  [dbo].[historicalUpdatesLogs]
				where
					[QuotesUpdateTimestamp] IS NULL OR
					[DividendsUpdateTimestamp] IS NULL OR
					[SplitsUpdateTimestamp] IS NULL))


GO
/****** Object:  Index [ixDate_dates]    Script Date: 2017-12-16 15:51:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ixDate_dates] ON [dbo].[dates]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixDateIndex_extrema]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixDateIndex_extrema] ON [dbo].[extrema]
(
	[DateIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixShare_extrema]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixShare_extrema] ON [dbo].[extrema]
(
	[ShareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixEndIndex_extremumGroups]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixEndIndex_extremumGroups] ON [dbo].[extremumGroups]
(
	[EndIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixStartIndex_extremumGroups]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixStartIndex_extremumGroups] ON [dbo].[extremumGroups]
(
	[StartIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ixName_markets]    Script Date: 2017-12-16 15:51:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ixName_markets] ON [dbo].[markets]
(
	[Name] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixValue_predefinedNumbers]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixValue_predefinedNumbers] ON [dbo].[predefinedNumbers]
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixDateIndex_prices]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixDateIndex_prices] ON [dbo].[prices]
(
	[DateIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixShareId_prices]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixShareId_prices] ON [dbo].[prices]
(
	[ShareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixDate_quotes]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixDate_quotes] ON [dbo].[quotes]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixDateIndex_quotes]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixDateIndex_quotes] ON [dbo].[quotes]
(
	[DateIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixShareId_quotes]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixShareId_quotes] ON [dbo].[quotes]
(
	[ShareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ixName_shares]    Script Date: 2017-12-16 15:51:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ixName_shares] ON [dbo].[shares]
(
	[Name] ASC,
	[MarketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ixPlus500Symbol_shares]    Script Date: 2017-12-16 15:51:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ixPlus500Symbol_shares] ON [dbo].[shares]
(
	[Plus500Symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ixYahooSymbol_shares]    Script Date: 2017-12-16 15:51:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ixYahooSymbol_shares] ON [dbo].[shares]
(
	[YahooSymbol] ASC
)
WHERE ([YahooSymbol] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixBaseId_trendlines]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixBaseId_trendlines] ON [dbo].[trendlines]
(
	[BaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixBaseStartIndex_trendlines]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixBaseStartIndex_trendlines] ON [dbo].[trendlines]
(
	[BaseStartIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixCounterId_trendlines]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixCounterId_trendlines] ON [dbo].[trendlines]
(
	[CounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixCounterStartIndex_trendlines]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixCounterStartIndex_trendlines] ON [dbo].[trendlines]
(
	[CounterStartIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ixId_trendlines]    Script Date: 2017-12-16 15:51:44 ******/
CREATE NONCLUSTERED INDEX [ixId_trendlines] ON [dbo].[trendlines]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[errorLogs] ADD  CONSTRAINT [Default_ErrorLogs_Timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[prices] ADD  CONSTRAINT [DF_prices_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[dividends]  WITH CHECK ADD  CONSTRAINT [FK_Dividends_ShareId] FOREIGN KEY([ShareId])
REFERENCES [dbo].[shares] ([Id])
GO
ALTER TABLE [dbo].[dividends] CHECK CONSTRAINT [FK_Dividends_ShareId]
GO
ALTER TABLE [dbo].[extrema]  WITH CHECK ADD  CONSTRAINT [FK_Extrema_ShareId] FOREIGN KEY([ShareId])
REFERENCES [dbo].[shares] ([Id])
GO
ALTER TABLE [dbo].[extrema] CHECK CONSTRAINT [FK_Extrema_ShareId]
GO
ALTER TABLE [dbo].[historicalUpdatesLogs]  WITH CHECK ADD  CONSTRAINT [FK_HistoricalUpdatesLogs_ShareId] FOREIGN KEY([ShareId])
REFERENCES [dbo].[shares] ([Id])
GO
ALTER TABLE [dbo].[historicalUpdatesLogs] CHECK CONSTRAINT [FK_HistoricalUpdatesLogs_ShareId]
GO
ALTER TABLE [dbo].[prices]  WITH CHECK ADD  CONSTRAINT [FK_Prices_ShareId] FOREIGN KEY([ShareId])
REFERENCES [dbo].[shares] ([Id])
GO
ALTER TABLE [dbo].[prices] CHECK CONSTRAINT [FK_Prices_ShareId]
GO
ALTER TABLE [dbo].[quotes]  WITH CHECK ADD  CONSTRAINT [FK_Quotes_ShareId] FOREIGN KEY([ShareId])
REFERENCES [dbo].[shares] ([Id])
GO
ALTER TABLE [dbo].[quotes] CHECK CONSTRAINT [FK_Quotes_ShareId]
GO
ALTER TABLE [dbo].[shares]  WITH CHECK ADD  CONSTRAINT [FK_Shares_MarketId] FOREIGN KEY([MarketId])
REFERENCES [dbo].[markets] ([Id])
GO
ALTER TABLE [dbo].[shares] CHECK CONSTRAINT [FK_Shares_MarketId]
GO
ALTER TABLE [dbo].[splits]  WITH CHECK ADD  CONSTRAINT [FK_Splits_ShareId] FOREIGN KEY([ShareId])
REFERENCES [dbo].[shares] ([Id])
GO
ALTER TABLE [dbo].[splits] CHECK CONSTRAINT [FK_Splits_ShareId]
GO
ALTER TABLE [dbo].[dates]  WITH CHECK ADD  CONSTRAINT [CH_date_notWeekend] CHECK  ((datepart(weekday,[Date])>=(2) AND datepart(weekday,[Date])<=(6)))
GO
ALTER TABLE [dbo].[dates] CHECK CONSTRAINT [CH_date_notWeekend]
GO
ALTER TABLE [dbo].[errorLogs]  WITH CHECK ADD  CONSTRAINT [CH_notEmpty_Class] CHECK  ((len(rtrim(ltrim([Class])))>(0)))
GO
ALTER TABLE [dbo].[errorLogs] CHECK CONSTRAINT [CH_notEmpty_Class]
GO
ALTER TABLE [dbo].[errorLogs]  WITH CHECK ADD  CONSTRAINT [CH_notEmpty_ErrNumber] CHECK  (([ErrNumber]<>(0)))
GO
ALTER TABLE [dbo].[errorLogs] CHECK CONSTRAINT [CH_notEmpty_ErrNumber]
GO
ALTER TABLE [dbo].[errorLogs]  WITH CHECK ADD  CONSTRAINT [CH_notEmpty_ErrorDescription] CHECK  ((len(rtrim(ltrim([ErrDescription])))>(0)))
GO
ALTER TABLE [dbo].[errorLogs] CHECK CONSTRAINT [CH_notEmpty_ErrorDescription]
GO
ALTER TABLE [dbo].[errorLogs]  WITH CHECK ADD  CONSTRAINT [CH_notEmpty_Method] CHECK  ((len(rtrim(ltrim([Method])))>(0)))
GO
ALTER TABLE [dbo].[errorLogs] CHECK CONSTRAINT [CH_notEmpty_Method]
GO
ALTER TABLE [dbo].[extrema]  WITH CHECK ADD  CONSTRAINT [CH_extrema_ExtremumType] CHECK  (([ExtremumType]>=(1) AND [ExtremumType]<=(4)))
GO
ALTER TABLE [dbo].[extrema] CHECK CONSTRAINT [CH_extrema_ExtremumType]
GO
ALTER TABLE [dbo].[markets]  WITH CHECK ADD  CONSTRAINT [CH_marketUuid_length] CHECK  ((len([Uuid])=(36)))
GO
ALTER TABLE [dbo].[markets] CHECK CONSTRAINT [CH_marketUuid_length]
GO
ALTER TABLE [dbo].[shares]  WITH CHECK ADD  CONSTRAINT [CH_shareUuid_length] CHECK  ((len([Uuid])=(36)))
GO
ALTER TABLE [dbo].[shares] CHECK CONSTRAINT [CH_shareUuid_length]
GO
USE [master]
GO
