USE [shares];

GO

BEGIN TRANSACTION;

GO

/****** Object:  Index [ixClientId_dictProducts]    Script Date: 2017-12-11 14:10:57 ******/
CREATE NONCLUSTERED INDEX [ixShareId_Quotes] ON [dbo].[quotes]
(
	[ShareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO

CREATE NONCLUSTERED INDEX [ixDate_Quotes] ON [dbo].[quotes]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO


DROP VIEW [dbo].[missingData]

GO 

CREATE VIEW [dbo].[missingData] AS
SELECT
	sh.[Name] AS [Share],
	sh.[YahooSymbol],
	sh.[Plus500Symbol],
	m.[Name] AS [Market],
	hul.[dataType]
FROM 
	(SELECT [ShareId], 'quotes' AS [dataType] FROM  [dbo].[historicalUpdatesLogs] WHERE  [QuotesUpdateTimestamp] IS NULL
	UNION ALL
	SELECT [ShareId], 'dividends' AS [dataType] FROM  [dbo].[historicalUpdatesLogs] WHERE  [DividendsUpdateTimestamp] IS NULL
	UNION ALL
	SELECT [ShareId], 'splits' AS [dataType] FROM  [dbo].[historicalUpdatesLogs] WHERE  [SplitsUpdateTimestamp] IS NULL) hul
	INNER JOIN [dbo].[shares] sh ON hul.[ShareId] = sh.[Id]
	INNER JOIN [dbo].[markets] m ON sh.[MarketId] = m.[Id]

GO

DROP VIEW [dbo].[sharesWithMissingData];
GO 

CREATE VIEW [dbo].[sharesWithMissingData] AS
(SELECT
	*
FROM 
	[dbo].[shares] sh
WHERE
	[Id] IN  (select [ShareId]
				from  [dbo].[historicalUpdatesLogs]
				where
					[QuotesUpdateTimestamp] IS NULL OR
					[DividendsUpdateTimestamp] IS NULL OR
					[SplitsUpdateTimestamp] IS NULL))

GO

DROP VIEW [dbo].[firstQuotes];

GO

CREATE VIEW [dbo].[firstQuotes] AS
SELECT
	sh.[Id],
	sh.[Name],
	sh.[YahooSymbol],
	firstQuotes.[fq]

FROM
	[dbo].[shares] sh
	LEFT JOIN (SELECT [ShareId], MIN([Date]) AS fq
				FROM  [dbo].[quotes]
				GROUP BY [ShareId]) firstQuotes
	ON sh.[Id] = firstQuotes.[ShareId]
GO
--ROLLBACK TRANSACTION;
COMMIT TRANSACTION;